/* Circular Fonts */
@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-Light.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-Light\ Italic.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-Book.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-BookItalic.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-Medium.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-MediumItalic.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-Bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-BoldItalic.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-Black.otf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Circular Std';
  src: url(./Circular/CircularStd-BlackItalic.otf) format('opentype');
  font-weight: 900;
  font-style: italic;
}

/* GT Walsheim Fonts */
@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Thin-Trial-BF651b7fc728c4c.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Thin-Oblique-Trial-BF651b7fc66311a.otf) format('opentype');
  font-weight: 100;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Ultra-Light-Trial-BF651b7fc72b236.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Ultra-Light-Oblique-Trial-BF651b7fc635c6e.otf) format('opentype');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Light-Trial-BF651b7fc714941.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Light-Oblique-Trial-BF651b7fc6b04a3.otf) format('opentype');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Regular-Oblique-Trial-BF651b7fc67342f.otf) format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Medium-Trial-BF651b7fc728fb3.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Medium-Oblique-Trial-BF651b7fc69eff5.otf) format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Bold-Trial-BF651b7fc737c57.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Ultra-Bold-Trial-BF651b7fc6c21e5.otf) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url(./GT_Walsheim/GT-Walsheim-Ultra-Bold-Oblique-Trial-BF651b7fc60ad12.otf) format('opentype');
  font-weight: 800;
  font-style: oblique;
}

/* GT Walsheim Condensed Fonts */
@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Thin-Trial-BF651b7fc72dc1c.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Thin-Oblique-Trial-BF651b7fc6f3f05.otf) format('opentype');
  font-weight: 100;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Ultra-Light-Trial-BF651b7fc73b30e.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Ultra-Light-Oblique-Trial-BF651b7fc714a97.otf) format('opentype');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Light-Trial-BF651b7fc73810c.otf) format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Light-Oblique-Trial-BF651b7fc72774f.otf) format('opentype');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Regular-Trial-BF651b7fc730eb2.otf) format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Regular-Oblique-Trial-BF651b7fc71cf17.otf) format('opentype');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Medium-Trial-BF651b7fc70de01.otf) format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Medium-Oblique-Trial-BF651b7fc67f44b.otf) format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Bold-Trial-BF651b7fc7358e0.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Bold-Oblique-Trial-BF651b7fc702d7b.otf) format('opentype');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Black-Trial-BF651b7fc6a5bf5.otf) format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'GT Walsheim Condensed';
  src: url(./GT_Walsheim/GT-Walsheim-Condensed-Black-Oblique-Trial-BF651b7fc6e312d.otf) format('opentype');
  font-weight: 900;
  font-style: oblique;
}
